#player-info-div {
  margin-top: 200px;
}
#gameplay-div {
  display: none;
}
#victory-div {
  display: none;
}

#hall-of-fame {
  margin-top: 100px;
}
.player-area {
  padding: 25px;
  max-width: 48%;
  margin: 1%;
  border-radius: 5px;
}
.player-1-color {
  background-color: #FAA;
}
.player-2-color {
  background-color: #AAF;
}
